# MySQL настройки
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=analytics_test
MYSQL_USER=analytics_user
MYSQL_PASSWORD=analytics_password

# Google Sheets URL
# Таблица должна быть опубликована для общего доступа (без авторизации)
# Формат: https://docs.google.com/spreadsheets/d/{SHEET_ID}/edit#gid=0
GOOGLE_SHEETS_URL=https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit#gid=0

